<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>woot!</h1>
    </header>
    <ul>
      {{#errors}}
        <li>{{msg}}</li>
      {{/errors}}
    </ul>

    Success! You have logged in!
<!--
<form action"/login/" method="post">
<input name="username"  placeholder="username" value=""/>
<input name="password"  placeholder="password" value=""/>
<button type="submit" name="loginButton">Login</button>
</form> -->

  </body>
</html>
